

:root {
    --main-color: #BBB;
    --bg-angle: -5deg;
    --bg-start: #A2A2A2;
    --bg-end: #C3C3C3;
    --text-color: #444;
    --shadow-up: #828282;
    --shadow-down: #E6E6E6;
    --disabled-color: #777; 
    --enabled-color: #047d41; 
  }
  :root {
    --main-color: #353535;
    --bg-angle: -5deg;
    --bg-start: #252525;
    --bg-end: #353535;
    --text-color: #AAA;
    --shadow-up: #0C0C0C;
    --shadow-down: #4B4B4B;
    --disabled-color: #555; 
    --enabled-color: #2b7a53; 
    
    --primary-neon: #b32957;
    --primary-neon: #b1b1b1;
  --1primary-neon: #b85fc2;
    
  --1primary-neon: #6c5fc2;
    
  --1primary-neon: #5fa1c2;
    
  --1primary-neon: #5fc25f;
    
  --1primary-neon: #ccc233;
  --neon-shadow-text: 0 0 3px var(--primary-neon);
    --neon-shadow-pulse: 0 0 7px var(--primary-neon);
  }

.text {
    color: var(--primary-neon);
}

  .button, .text-holder, .toggle {
    margin: 0.5em;
    width: 5em;
    height: 2em;
    line-height: 2em;
    border-radius: .5em;
    box-shadow: 2px 2px 5px var(--shadow-up), -2px -2px 5px var(--shadow-down);
    1color: var(--text-color);
    background: linear-gradient(var(--bg-angle), var(--bg-start), var(--main-color), var(--bg-end));
    text-align: center; 
    user-select: none; 
    transition: 0.2s ease all; 
  color:var(--primary-neon);
  text-shadow:var(--neon-shadow-text);
  display: inline-table;
  }
  .button:hover, .toggle:hover { 
    1animation:flicker 10s linear infinite;
    box-shadow: -1px -1px 6px var(--shadow-down) , 1px 1px 6px var(--shadow-up);
    background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
  }
  .button:active:hover, .toggle:active:hover { 
    box-shadow: -2px -2px 6px var(--shadow-down) inset, 2px 2px 6px var(--shadow-up) inset;
  }
@keyframes flicker {
  0%, 4%, 5%, 7%, 20%, 21%{
    color: var(--primary-neon);
    text-shadow:var(--neon-shadow-text);
  }
  0.1%, 4.1%, 5.1%, 10%, 20.1%{
    text-shadow: var(--main-color);
    color: var(--main-color);
  }
  50% {
    1box-shadow:var(--neon-shadow-pulse);
  }
}
.button {
	overflow: hidden;
}
.dropdown {
	overflow: visible;
}
.button tt{
    display: block;
    position: relative;
}
.button:hover tt:nth-child(2) {
	1animation: animate1 2s linear infinite;
	background: linear-gradient(90deg, transparent, var(--primary-neon));
	width: 100%;
	top: -98%;
	height: 2px;
}
@keyframes animate1 {
  0%  {
    left: -150%;
  }
  50%, 100%  {
    left: 150%;
  }
}
.button:hover tt:nth-child(3) {
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
	background: linear-gradient(360deg, transparent, var(--primary-neon));
	width: 2px;
	top: -10%;
	height: 100%;
}
@keyframes animate2 {
  0%  {
    top: 200%;
  }
  50%, 100%  {
    top: -200%;
  }
}
.button:hover tt:nth-child(4) {
	animation: animate3 2s linear infinite;
	animation-delay: 0.9s;
	background: linear-gradient(270deg, transparent, var(--primary-neon));
	width: 100%;
	top: -110%;
    left: -150%;
	height: 2px;
}
@keyframes animate3 {
  0%  {
    left: 150%;
  }
  50%, 100%  {
    left: -150%;
  }
}
.button:hover tt:nth-child(5) {
	animation: animate4 2s linear infinite;
	animation-delay: 0.7s;
	background: linear-gradient(180deg, transparent, var(--primary-neon));
	width: 2px;
	top: -310%;
  left: 98%;
	height: 100%;
}
@keyframes animate4 {
  0%  {
    top: -300%;
  }
  50%, 100%  {
    top: 100%;
  }
}

  .button span {
    position: relative;
    vertical-align: middle;
    line-height: normal;
    font-family: Georgia, Charcoal, sans-serif;
    font-size: 1.5em;
    margin-top: 10em;
  }

.button1 i, .toggle i {
    margin-top: 0.5em;
    font-size: 1.5em;
}

/* Toggle ------------------------------- */
.toggle {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    color: var(--disabled-color);
    text-shadow:var(--shadow-down);
  }
.toggle.active {
    color: var(--primary-neon);
    box-shadow: -1px -1px 3px var(--shadow-down) inset, 1px 1px 3px var(--shadow-up) inset;
    background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
  }
.toggle.active:hover { 
    box-shadow: -2px -2px 6px var(--shadow-down) inset, 2px 2px 6px var(--shadow-up) inset;
  }

            .toggle.active .i{
                content: "";
              margin-top: -110%;
              margin-left: -3px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 2px solid transparent;
                animation: spinloader 2s linear infinite;
              box-shadow: -2px -2px 6px var(--primary-neon);
            }
@keyframes spinloader{
                100%{
                    transform: rotate(360deg) scaleX(1) scaleY(1);  
                }
}

  body{
    background: var(--main-color);
  }
  
/* Dropdown ------------------------------- */
  
  .dropdown:hover.button{
    box-shadow: -1px -1px 10px var(--shadow-down) inset, 4px 4px 10px var(--shadow-up) inset;
    background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
    border-radius: .5em;
  }
       .dropdown > ol > li > a {
           padding: 2em 0;
      }
       .dropdown > ol {
       list-style-type: none;  
       margin-top: -.2em;
       padding: .2em;     
       transform: scale(0);
        transition:0.5s ease all; 
      }
       .dropdown > .list > .item {
           margin: 0.7rem;
       border-radius: .5em;
       box-shadow: 3px 3px 10px var(--shadow-up), -3px -3px 10px var(--shadow-down);
       background: linear-gradient(var(--bg-angle), var(--bg-start), var(--main-color), var(--bg-end));
      }
       .dropdown > ol > li > span {
           font-size: 1.1em;
      }
  .dropdown > i {
    margin-top: 0.5em;
    margin-left: -3.5em;
    margin-right: 0.5em;
  }

  .dropdown > span {
    position: absolute;
    margin-top: 0.4em;
    font-size: 1.5em;
  }
  .dropdown:hover > ol {
           transform: scale(1);
    color: Red;
      }
  .dropdown{
    position:relative; 
    z-index: 20;
  }
  
  
  /* form starting stylings ------------------------------- */
  .group 			  { 
    position:relative; 
    margin: 1em;
    margin-top: 1.7em;
    z-index: 1;
  }
.group i {
  color: #666;
  position:absolute;
  top: .4em;
  left: 90%;
  font-size:1.5em;
  transition:0.5s ease all; 
}
.group i:hover {
  color: #F42;
  font-size:1.55em;
  transform: rotate(90deg);
}
  input 				{
    z-index: 1;
    font-size:18px;
    padding:10px 10px 10px 5px;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: var(--back-color);
    caret-color: var(--text-color);
    color: var(--text-color);
    box-shadow: inset 1px 1px 4px var(--shadow-up), inset -1px -1px 4px var(--shadow-down);
    background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
    border-radius: .8em;
  }
input:hover {
  box-shadow: inset 2px 2px 6px var(--shadow-up), inset -2px -2px 6px var(--shadow-down);
}
input:focus {
  outline:none;
	animation: inputfocus 4s linear infinite;
  box-shadow: inset 3px 3px 8px var(--shadow-up), inset -3px -3px 8px var(--shadow-down);
}
@keyframes inputfocus{
  0% {
    box-shadow: inset 3px 3px 8px var(--shadow-up), 
      inset -3px -3px 8px var(--shadow-down),
      1px -1px 8px var(--primary-neon);                
  }
  40% {
    box-shadow: inset 3px 3px 8px var(--shadow-up), 
      inset -3px -3px 8px var(--shadow-down),
      1px 1px 8px var(--primary-neon);                
  }
  60% {
    box-shadow: inset 3px 3px 8px var(--shadow-up), 
      inset -3px -3px 8px var(--shadow-down),
      -1px 1px 8px var(--primary-neon);                
  }
  80% {
    box-shadow: inset 3px 3px 8px var(--shadow-up), 
      inset -3px -3px 8px var(--shadow-down),
      -1px -1px 8px var(--primary-neon);                
  }
  100% {
    box-shadow: inset 3px 3px 8px var(--shadow-up), 
      inset -3px -3px 8px var(--shadow-down),
      0px -1px 8px var(--primary-neon);                
  }
}
input:hover:focus {
  outline:none;
  box-shadow: inset 4px 4px 10px var(--shadow-up), inset -4px -4px 10px var(--shadow-down);
}
  /* LABEL ======================================= */
  label 				 {
    z-index: 1;
    color:#666; 
    font-size:1.2em;
    position:absolute;
    left:1em;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ label, input:valid ~ label 		{
    z-index: 1;
    top: -1.2em;
    font-size: 1em;
    color: var(--primary-neon);
  }
  
  /* BOTTOM BARS ================================= */
  .bar 	{ position:relative; display:block; width:300px; }
  .bar:before, .bar:after 	{
    z-index: 1;
    content:'';
    height:2px; 
    width:0;
    left:.5em;
    bottom:1px; 
    position:absolute;
    background:var(--primary-neon); 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  /* active state */
  input:focus ~ .bar:before {
    z-index: 1;
    width:100%;
  }

.line-group{
  display: flex;
}

/* scrollbar ---------------------- */

/* width */
::-webkit-scrollbar {
  background: var(--main-color);
  width: 2em;
  box-shadow: inset 1px 1px 3px var(--shadow-up), inset -1px -1px 3px var(--shadow-down);
  background: linear-gradient(var(--bg-angle), var(--bg-end), var(--main-color), var(--bg-start));
}


/* Handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset -2px -1px 2px var(--shadow-up), inset 2px 1px 2px var(--shadow-down);
  background: linear-gradient(var(--bg-angle), var(--bg-start), var(--main-color), var(--bg-end));
  border-radius: .3em;
  background-color: var(--main-c1olor);
}

:root{
--t: 0.5s cubic-bezier(0.9, 0, 0, 1);
}