body {
    margin: 0;
}

table {
    
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td, th {
    /* border: 1px solid rgb(150, 150, 150); */
    border: none;
    padding: 8px;
    color: #b9b8b8;
}

table tr:nth-child(even){
  background-color: #313131;  
  box-shadow: -1px -1px 6px var(--shadow-down) , 1px 1px 6px var(--shadow-up);
}

table tr:hover {background-color: #555555;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #292929;
}

#myInput {
  /* margin-left: .8em; */
  width: 80%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 6px 2% 6px 2%; /* Add some padding */
  /* border: 1px solid rgb(255, 255, 255); Add a grey border */
  
  border: none;
}
#myInput:focus {
  outline-style: none;
  1border: 1px solid rgb(255, 255, 255); /* Add a grey border */
}



.arias {
  list-style-type: none;
}

.hiden-spinner i {
  display: none;
}

