{% extends "layout.html" %}
{% block content %}
<div class="body">
    <ul class="arias">
    {% for aria in arias %}
    <li>
        <div class="text">
            <div class="button hiden-spinner" onclick="updateAria(this, '{{ aria['name'] }}')">Update <i class="fas fa-spinner fa-spin"></i>
            </div>
            {{ aria["name"] }}
        <div>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
