<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schools</title>
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <link rel="stylesheet" type="text/css" href="/static/css/menu.css">
    <link rel="stylesheet" type="text/css" href="/static/css/button.css">
    <script src="/static/js/search.js"></script>
</head>
<body>
<nav class="main-menu">
    <ul>
        {% for menu_item in menu %}
            {{ menu_item|safe }}
        {% endfor %}
    </ul>
</nav>
{% block content %}{% endblock %}
</body>
</html>